body {
  margin: 0;
}

.under {
  height: 40vh;
  width: 100vw;
  background: #ccc08f;
}

img {
  position: absolute;
  height: 450px;
  width: 700px;
  top: 19vh;
  left: 34vw;
  box-shadow: 20px;
  border-radius: 14px;
}

.under h1 {
  position: absolute;
  left: 32vw;
  top: 9vh;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 87px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}
#about-heading {
  position: absolute;
  left: 40vw;
  top: 3vh;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 87px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}

.text {
  position: absolute;

  top: 70vh;
  left: 35.5vw;
  width: 650px;
  height: 270px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;;
}

article {
  text-transform: none;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  color: #291720;
}

article > p > span {
  font-style: italic;
  font-weight: bold;
  color: black;
}

hr {
  border-top: 5px solid #f75c03;
  width: 45%;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 600px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}
