@font-face {
  font-family: "Aileron";
  src: local("../Assets\Fonts\AdventPro-Regular.woff2") format("woff2"),
    local("../Assets\Fonts\AdventPro-Regular.woff") format("woff"),
    local("../Assets\Fonts\Aileron-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Advent Pro";
  src: local("../Assets\Fonts\AdventPro-Regular.woff2") format("woff2"),
    local("../Assets\Fonts\Aileron-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maven Pro";
  src: local("../Assets\Fonts\MavenProRegular.woff2") format("woff2"),
    local("../Assets\Fonts\MavenProRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Rose";
  src: local("../Assets\Fonts\RedRose-Regular.woff2") format("woff2"),
    local("../Assets\Fonts\RedRose-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Codec Cold Trial";
  src: local("../Assets\Fonts\CodecColdTrial-Regular.woff2") format("woff2"),
    local("../Assets\Fonts\CodecColdTrial-Regular.woff") format("woff"),
    local("../Assets\Fonts\CodecColdTrial-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Varela Round";
  src: local("../Assets\Fonts\VarelaRound-Regular.woff2") format("woff2"),
    local("../Assets\Fonts\VarelaRound-Regular.woff") format("woff"),
    local("../Assets\Fonts\VarelaRound-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: local("../Assets\Fonts\Oswald-Regular.woff2") format("woff2"),
    local("../Assets\Fonts\Oswald-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
