html {
  padding: none;
}

#banner1 {
  position: absolute;
  left: 14.48%;
  right: 12.5%;
  top: 16%;
  bottom: 73.15%;

  background: rgba(76, 46, 5, 1);
  border-radius: 7px;
  z-index: -1;
}

#announcement {
  position: absolute;
  left: 26.35%;
  right: 23.12%;
  top: 18.06%;
  bottom: 74.35%;

  font-family: Codec Cold Trial;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  padding-top: 20px;
  margin-top: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  color: #ffff;
}

#learn {
  text-decoration: none;
  color: #758e4f;
  transition: 0.3s;
}

#learn:hover {
  text-decoration: underline;
  color: #e9e3b4;
}

#main_banner {
  width: 100vw;
  height: 164px;
  margin-top: 0px;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 3;

  background: rgba(233, 227, 180, 0.5);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

#logo_container {
  position: absolute;
  left: 2vw;
  right: 88.23%;
  top: 1.48%;
  bottom: 86.67%;
  height: 128px;
  width: 200px;
  padding-top: 1rem;

  background: url(../Assets/Images/Ellipse\ 1.svg);
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#main_banner a {
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  padding-top: 0px;
  font-family: Advent Pro;
  text-transform: uppercase;
  font-weight: 500;
  color: #4c2e05;
  transition: 0.3s;
}

#main_banner a:hover {
  color: #bc3908;
}

#login {
  left: 12.97%;
  right: 79.32%;
  top: 58px;
  bottom: 89.63%;
}

#about_button {
  left: 18.28%;
  right: 65.42%;
  top: 58px;
  bottom: 89.35%;
}

#location_img {
  background: url(../Assets/Images/location.svg);
  background-repeat: no-repeat;
  width: 41px;
  height: 61px;

  position: absolute;
  left: 70vw;
  right: 20px;
  top: 45px;
  bottom: 89.54%;
}

#find_a_store {
  left: 73vw;
  top: 58px;
  bottom: 89.91%;
}

#cart_logo {
  background: url(../Assets/Images/shoppingcart.svg);
  background-repeat: no-repeat;
  width: 41px;
  height: 61px;

  right: 15vw;
  top: 50px;
  bottom: 89.54%;
}

#cart1 {
  right: 10vw;
  top: 58px;
  bottom: 89.63%;
}


.notification .badge {
position: absolute;
top: -19px;
right: -38px;
padding: 5px 10px;
border-radius: 100px;
background-color: #F39B6D;
color: white;
width: 18px;
height: 32px;
}
#noti_text{
  position: absolute;
  left: 13px;
top: 3px;
}

#header_parent {
  width: 571px;
  left: calc(50% - 571px / 2 - 0.5px);
  top: 2.41%;
  position: absolute;
}

#header_text {
  font-family: Ailerons;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 87px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 10px;

  color: #000000;
}

#subheader_parent {
  position: absolute;
  left: 40.25%;
  right: 42.29%;
  top: 90px;
  bottom: 88.52%;
  padding-top: 0px;
  margin-top: 10px;
  width: 400px;
}

#subheader_text {
  font-family: Codec Cold Trial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  justify-self: center;

  color: #000000;
}

.bottom {
  width: 100vw;
  margin-bottom: 0px;
  top: 2200px;
  left: 0px;
  height: 10vh;
  position: absolute;
  bottom: 0px;
  background: #2c341d;
}

#bottom_text {
  font-family: Arial;
  font-size: 19px;
  color: #e9e3b4;
  padding-left: 20px;
  margin-top: 30px;
  position: absolute;
}

.iconify {
  width: 24px;
  height: 24px;
  color: #e9e3b4;
}

#twitter,
#insta,
#youtube {
  position: absolute;
  cursor: pointer;
  top: 30px;
}

#insta {
  left: 85vw;
}

#twitter {
  left: 80vw;
}

#youtube {
  left: 90vw;
}

#cover1 {
  top: 50vh;
  left: 20vh;
}

.Mid {
  position: absolute;
  top: 28vh;
  width: 99vw;
  background: #ffff;
}

#cover_text {
  text-align: center;
  text-transform: uppercase;
  font-family: Oswald;
  width: 1100px;
  margin-left: 400px;
  position: absolute;
  top: -20px;
}

#coffee_love {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 30px;
}

hr.solid {
  border-top: 5px solid;
  color: #ffbf46;
  width: 150px;
}

#main_text,
#sub_text {
  font-family: Varela Round;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  left: 50vh;
  line-height: 25px;
  color: #302b27;
  margin-bottom: 20px;
}

#delivery,
#pickup,#clear {
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  text-decoration: none;
  padding: 15px;
  margin: 10px;
  color: #ffff;
  background: #2c341d;
  font-family: Varela Round;
  transition: 0.3s;
}

#delivery:hover,#clear:hover,
#pickup:hover,#place_order:hover {
  background: #e9e3b4;
  color: #000000;
}

#order_selector{
  position: absolute;
right: 60px;
height: 30px;
margin-top: 50px;

}
#order_selector input{
  width: 100px;
}
#selector_data_cont{
  display: grid;
  width: 730px;
}
#place_order{
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  text-decoration: none;
  padding: 5px;
  margin: 10px;
  color: #ffff;
  background: #2c341d;
  font-family: Varela Round;
  transition: 0.3s;

}


#menu_title {
  font-family: Ailerons;
  font-size: 50px;
  font-weight: 600;
}

.tab {
  overflow: hidden;
  border: none;
  background-color: #e9e3b4;
}

.tab button {
  background: #e9e3b4;
  font-family: Varela Round;
  font-size: 17px;
  color: ffff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #2c341d;
  color: #e9e3b4;
}

.tab button.active {
  background-color: #aaa95a;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  background-color: #f7f3de;
  border-top: none;
  text-align: left;
  font-family: Varela Round;
  font-size: 15px;
}

#coffee_list,
#tea_list {
  list-style: none;
  line-height: 25px;
}


